/* reset */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
  Extra resets for web apps
*/

* {
  padding: 0;
  font: inherit;
}

html,
body {
  height: 100%;
}

/* settings */
:root {
  --radius-unit: 0.25rem; /* 4px */

  --rounded-none: 0;
  --rounded-sm: calc(var(--radius-unit) * 0.5);
  --rounded: calc(var(--radius-unit) * 1);
  --rounded-md: calc(var(--radius-unit) * 1.5);
  --rounded-lg: calc(var(--radius-unit) * 2);
  --rounded-xl: calc(var(--radius-unit) * 3);
  --rounded-2xl: calc(var(--radius-unit) * 4);
  --rounded-3xl: calc(var(--radius-unit) * 6);
  --rounded-full: 9999px;
}

/* 
Custom properties doesn't work on @media declarations.
This documentation is for references purpose only

sm: 40rem | 640px
md: 48rem | 768px
lg: 64rem | 1024px
xl: 80rem | 1280px

*/

:root {
  /* Base Colors */
  --white: hsl(0 0% 100%);

  --neutral-50: hsl(0 0% 98%);
  --neutral-100: hsl(0 0% 96%);
  --neutral-200: hsl(0 0% 90%);
  --neutral-300: hsl(0 0% 83%);
  --neutral-400: hsl(0 0% 64%);
  --neutral-500: hsl(0 0% 45%);
  --neutral-600: hsl(0 0% 32%);
  --neutral-700: hsl(0 0% 25%);
  --neutral-800: hsl(0 0% 15%);
  --neutral-900: hsl(0 0% 9%);
  --neutral-950: hsl(0 0% 4%);

  --violet-50: hsl(250 100% 98%);
  --violet-100: hsl(251 91% 96%);
  --violet-200: hsl(251 95% 92%);
  --violet-300: hsl(252 95% 85%);
  --violet-400: hsl(255 92% 76%);
  --violet-500: hsl(258 90% 66%);
  --violet-600: hsl(262 83% 58%);
  --violet-700: hsl(263 70% 50%);
  --violet-800: hsl(263 69% 42%);
  --violet-900: hsl(264 67% 35%);
  --violet-950: hsl(261 73% 23%);

  --red-50: hsl(0 86% 97%);
  --red-100: hsl(0 93% 94%);
  --red-200: hsl(0 96% 89%);
  --red-300: hsl(0 94% 82%);
  --red-400: hsl(0 91% 71%);
  --red-500: hsl(0 84% 60%);
  --red-600: hsl(0 72% 51%);
  --red-700: hsl(0 74% 42%);
  --red-800: hsl(0 70% 35%);
  --red-900: hsl(0 63% 31%);
  --red-950: hsl(0 75% 16%);

  --yellow-50: hsl(55 92% 95%);
  --yellow-100: hsl(55 97% 88%);
  --yellow-200: hsl(53 98% 77%);
  --yellow-300: hsl(50 98% 64%);
  --yellow-400: hsl(48 96% 53%);
  --yellow-500: hsl(45 93% 48%);
  --yellow-600: hsl(41 96% 40%);
  --yellow-700: hsl(35 92% 33%);
  --yellow-800: hsl(32 81% 29%);
  --yellow-900: hsl(28 73% 26%);
  --yellow-950: hsl(26 83% 14%);

  --green-50: hsl(138 77% 97%);
  --green-100: hsl(141 84% 93%);
  --green-200: hsl(141 79% 85%);
  --green-300: hsl(142 77% 73%);
  --green-400: hsl(142 69% 58%);
  --green-500: hsl(142 71% 45%);
  --green-600: hsl(142 76% 36%);
  --green-700: hsl(142 72% 29%);
  --green-800: hsl(143 64% 24%);
  --green-900: hsl(144 61% 20%);
  --green-950: hsl(145 80% 10%);

  --sky-50: hsl(204 100% 97%);
  --sky-100: hsl(204 94% 94%);
  --sky-200: hsl(201 94% 86%);
  --sky-300: hsl(199 96% 74%);
  --sky-400: hsl(198 93% 60%);
  --sky-500: hsl(199 89% 48%);
  --sky-600: hsl(200 98% 39%);
  --sky-700: hsl(201 96% 32%);
  --sky-800: hsl(201 90% 28%);
  --sky-900: hsl(202 80% 24%);
  --sky-950: hsl(204 80% 16%);

  /* Color Tokens */
  --background: var(--white);
  --foreground: var(--neutral-900);
  --primary: var(--violet-700);
  --primary-foreground: var(--white);
  --muted: var(--neutral-100);
  --muted-foreground: var(--neutral-600);
  --muted-foreground-subtle: hsl(0 0% 46%);
  --secondary: var(--neutral-100);
  --secondary-foreground: var(--neutral-800);
  --ring: var(--neutral-300);
  --primary-hover: hsl(263, 70%, 60%);
  --primary-active: hsl(263, 69%, 42%);
  --secondary-hover: hsl(0, 0%, 80%);
  --secondary-active: var(--neutral-400);
  --border: var(--neutral-300);
  --border-strong: var(--neutral-400);
  --background-hover: hsl(0, 0%, 90%);
  --background-active: var(--neutral-300);
  --info: var(--sky-50);
  --info-foreground: var(--sky-950);
  --info-border: var(--sky-600);
  --success: var(--green-50);
  --success-foreground: var(--green-950);
  --success-border: var(--green-950);
  --warning: var(--yellow-50);
  --warning-foreground: var(--yellow-950);
  --warning-border: var(--yellow-600);
  --danger: var(--red-50);
  --danger-foreground: var(--red-950);
  --danger-border: var(--red-600);
}
:root {
  --space-unit: 0.25rem; /* 4px */

  --spacing-0_5: calc(var(--space-unit) * 0.5);
  --spacing-1: calc(var(--space-unit) * 1);
  --spacing-1_5: calc(var(--space-unit) * 1.5);
  --spacing-2: calc(var(--space-unit) * 2);
  --spacing-2_5: calc(var(--space-unit) * 2.5);
  --spacing-3: calc(var(--space-unit) * 3);
  --spacing-3_5: calc(var(--space-unit) * 3.5);
  --spacing-4: calc(var(--space-unit) * 4);
  --spacing-5: calc(var(--space-unit) * 5);
  --spacing-6: calc(var(--space-unit) * 6);
  --spacing-7: calc(var(--space-unit) * 7);
  --spacing-8: calc(var(--space-unit) * 8);
  --spacing-9: calc(var(--space-unit) * 9);
  --spacing-10: calc(var(--space-unit) * 10);
  --spacing-11: calc(var(--space-unit) * 11);
  --spacing-12: calc(var(--space-unit) * 12);
  --spacing-14: calc(var(--space-unit) * 14);
  --spacing-16: calc(var(--space-unit) * 16);
  --spacing-20: calc(var(--space-unit) * 20);
  --spacing-24: calc(var(--space-unit) * 24);
  --spacing-28: calc(var(--space-unit) * 28);
  --spacing-32: calc(var(--space-unit) * 32);
  --spacing-36: calc(var(--space-unit) * 36);
}
:root {
  /* Font stacks */
  --text: Inter, Arial, sans-serif;
  --heading: Inter, Arial, sans-serif;
  --display: "Familjen Grotesk", Inter, Arial, sans-serif;
  --monospace: "Source Code Pro", monospace;

  /* Sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;
  --font-7xl: 4.5rem;
  --font-8xl: 6rem;
  --font-9xl: 8rem;

  /* Line heights */
  --leading-none: 1;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;

  /* Letter spacing */
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
}
:root {
  --width-xs: 20rem; /* 320px */
  --width-sm: 24rem; /* 384px */
  --width-md: 28rem; /* 448px */
  --width-lg: 32rem; /* 512px */
  --width-xl: 36rem; /* 576px */
  --width-2xl: 42rem; /* 672px */
  --width-3xl: 48rem; /* 768px */
  --width-4xl: 56rem; /* 896px */
  --width-5xl: 64rem; /* 1024px */
  --width-6xl: 72rem; /* 1152px */
  --width-7xl: 80rem; /* 1280px */
}
/* elements */
body {
  font-family: var(--text);
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-6);
}
.body-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

code {
  font-family: var(--monospace);
}

hr {
  margin-block: 48px;
  border: none;
  border-top: 1px solid var(--border);
}

:focus {
  outline-offset: 3px;
  outline-color: var(--ring);
  outline-width: 2px;
}
/* utilities */
/* Sections */

.section-sm {
  padding-block: var(--spacing-6);
}

.section {
  padding-block: var(--spacing-12);
}

.section-lg {
  padding-block: var(--spacing-24);
}

.section-xl {
  padding-block: var(--spacing-36);
}

/* Container */

.container {
  --padding: 16px;
  padding-inline: var(--padding);
  max-width: var(--width-7xl);
  margin-inline: auto;
}

.center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: var(--width-2xl);
}


@media (min-width: 40rem) {
  .container {
    --padding: 24px;
  }
}

@media (min-width: 64rem) {
  .container {
    --padding: 32px;
  }
}

/*
Pancake Layout

<div class="pancake-stack">
  <header>...</header>
  <main>...</main>
  <footer>...</footer>
</div>
*/

.pancake-stack {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Pancake Stack - Version Flexbox */

/* .pancake-stack {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pancake-stack > :nth-child(2) {
  flex-grow: 1;
} */

/* .centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
